// Typography

$font-family-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$font-size: 1.25rem !default;
$font-weight: 400 !default;
$font-weight-bold: 700 !default;

$line-height: 1.5 !default;

$h1-font-size: $font-size * 2.5 !default;
$h2-font-size: $font-size * 2 !default;
$h3-font-size: $font-size * 1.75 !default;
$h4-font-size: $font-size * 1.5 !default;
$h5-font-size: $font-size * 1.25 !default;
$h6-font-size: $font-size !default;

$small-font-size: $font-size * .75;

$headline-line-height: 1 !default;

$blockquote-font-size: $font-size * 1.25 !default;

// Layout
$border-width: 1px;
$big-border-width: 3px;
$border-style: solid;

$radius: 0.25rem;

$vertical-padding: .25rem;
$horizontal-padding: .5rem;

$spacer: 1rem;

// Colors

$white: #fff;
$black: #000;
$grey: #ccc;
$light-blue: #87cefa;
$blue: #3772ff;