body {
    font-family: $font-family-sans-serif;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $font-weight-bold;
    line-height: $headline-line-height;
}

h1 {
     font-size: $h1-font-size;
 }

h2 {
    font-size: $h2-font-size;
}

h3 {
    font-size: $h3-font-size;
}

h4 {
    font-size: $h4-font-size;
}

h5 {
    font-size: $h5-font-size;
}

h6 {
    font-size: $h6-font-size;
}
 
mark {
    padding: 0.15rem;
    background-color: $highlight-color;
}

strong {
    font-weight: $font-weight-bold;
}

small {
    font-size: $small-font-size;
}

blockquote {
    font-size: $blockquote-font-size;
    border-left-style: $big-border-style;
    border-left-color: $big-border-color;
    border-left-width: $big-border-width;
    margin-left: 0;
    padding-left: 1rem;
}

kbd {
    font-family: $font-family-monospace;
    font-size: $small-font-size;
    color: #fff;
    background-color: #000;
    padding: .25rem .5rem;
    border-radius: .25rem;
}

code, pre{
    font-family: $font-family-monospace;
    background-color: #ccc;
    padding: .25rem .5rem;
    border-radius: .25rem;
}